#####################################################
#
# List of approvers for OpenTelemetry Specifications repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo. Membership is tracked via https://github.com/open-telemetry/community/blob/main/community-members.md
*   @open-telemetry/specs-approvers

# Prometheus-specific specifications
# Note: prometheus-interoperability is listed for notification purposes only. Their approvals do not count towards the review requirements for these files.
/specification/compatibility/prometheus_and_openmetrics.md @open-telemetry/specs-approvers @open-telemetry/prometheus-interoperability
/specification/metrics/sdk_exporters/prometheus.md @open-telemetry/specs-approvers @open-telemetry/prometheus-interoperability
