# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings
bin

# NetBeans
/.nb-gradle
/.nb-gradle-properties

# OS X
.DS_Store

# Emacs
*~
\#*\#

# Vim
.swp

# Misspell binary
internal/tools/bin

# Node.js files for tools (e.g. markdown-toc)
node_modules/
package-lock.json

# Visual Studio Code
.vscode

# Visual Studio
.vs