extends: default

rules:
  document-start: disable
  octal-values: enable
  truthy:
    allowed-values: ['true', 'false', 'on'] # 'on' for GH action trigger
  line-length:
    max: 200
  indentation:
    check-multi-line-strings: false
    indent-sequences: consistent
  brackets:
    max-spaces-inside: 1
    max-spaces-inside-empty: 0
  comments:
    min-spaces-from-content: 1
